body{
	background: lightblue;
}

h1{
	color: darkblue;
	font-family: 'Neucha', cursive;
}

img{
	width: 500px; 
}

.img-rotate:hover{
	width: 800px;
	transform: rotate(360deg);
	transition: 0.7s;
}
